<div class="products-page">
  <button class="btn-return" (click)="backClicked()">Go Back</button>

  <div class="container-products">
    @for (product of productsByCategory; track $index) {
      <div class="product-card" [routerLink]="['/store/products', product.id]">
        <figure class="product-image">
          <img [src]="product.image" [alt]="product.description" />
        </figure>
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="product-price">{{ product.price | currency : "EUR" }}</p>
      </div>
    }
  </div>
</div>
